
            h1 {
                text-align: center;
                font-style: italic;
                font-size: 50px;
            }
            body {
                background-color: lightblue;
            }

            fieldset {
                background-color: aliceblue;
                margin-bottom: 8px;
                border-radius: 30px;
                Border-width: 5px;
                padding: 15px;
                border-style: outset;
            }

            legend {
                color: black;
                font-size: 30px;
            }
            #Resposaveis p.Nomes{
                font-size: 25px;
            }

            input{
                margin-right: 10px;
                margin-bottom: 20px;
                border-radius: 25px;
                border: none;
                border-bottom: 2px solid;
                background-color: aliceblue
            }

            button {
                border-radius: 25px;
                font-size: 15px; 
                margin-left: 10px;
            }
            
